<%= form_for(@post) do |f| %>

  <% if @post.errors.any? %>
    <div class="alert alert-error">
      <%= pluralize(@post.errors.count, "error") %> 
      prohibited this post from being saved: <br/>
      <% @post.errors.full_messages.each do |msg| %>
        ~> <%= msg %><br/>
      <% end %>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </div>
  
  <div class="field">
    <%= f.label :tag_string, "Comma delimited tags" %><br />
    <%= f.text_field :tag_string, value: @post.formatted_tags %>
  </div>  
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
