<p>
  <%= image_tag @user.avatar %>
  <br/>
  <b><%= @user.username %></b>
</p>

<p>
	Member since <%= @user.created_at.strftime("%-m-%-d %k:%M:%S") %>
	<br/>
	Last update at <%= @user.updated_at.strftime("%-m-%-d %k:%M:%S") %>
</p>

<p>
  <%= @user.bio %>
</p>

<h3>Posts</h3>

<ul>
	<% @user.posts.each do |post| %>
		<li><%= link_to post.title, post %></li>
	<% end %>
</ul>


