<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @post.id %>
</p>

<p>
  Posted by <%= link_to @post.user.username, user_path(@post.user) %>.

<p>
  <b>Title:</b>
  <%= @post.title %>
</p>

<p>
  <b>Content:</b>
  <%= @post.content %>
</p>


<%= link_to 'Edit', edit_user_post_path(@user, @post) %> |
<%= link_to 'Back', user_posts_path(@user) %>
